header {
    background-image: <img src="pexels-pixabay-301673,jpg"/>
    /* background-image: url(https://www.pexels.com/photo/pink-petaled-flowers-1002725/); */
    background-size: cover;
    height: 10vh;
  }
  .jumbotron {
    padding: 30px;
    background-image: linear-gradient(180deg, pink, yellow);
  }


h1 {
    font-size: 25  px;
    text-align: center;
    color: purple;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jumbotron h1 {
    text-align: center;
    color: hotpink;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
