header {
  background-size: cover;
  text-align: center;
  color: rgb(136, 15, 184);
  height: 10vh;
}

.jumbotron {
  padding: 5px;
  height: 10vh;

  background-image: linear-gradient(180deg,pink , rgb(238, 88, 238));

}
p {font-size: large;}
    text-align: center;

h1 {
  font-size: 25px;
  text-align: center;
  color: purple;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.jumbotron h1 {
  text-align: center;
  color: purple;
  font-family: fantasy;
  font-weight: 300;
  text-transform: uppercase;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  animation: ease-in;
}
body {
  background: linear-gradient(-45deg, rgb(214, 98, 166), pink, #8bc7dd, #63dfc2);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav.hover{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: .5rem;
    list-style-type: none;
  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }

  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 550px){
  #jumbotron {
    height: 60vh;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: .5rem .5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

  #bio {
    margin-right: 3rem;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, min-max(33%, 1fr));
    background-color: transparent;
  }
}

